.container{
  position: absolute;
  top: 64px;
  bottom: 0;
  right: 0;
  background: #fff;
  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%; 
  -webkit-transform-origin: 0% 0%;
  transform:rotate(90deg) ;
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

.header{
  display: flex;
  display: -webkit-flex;
  height: 64px;
  flex-direction:row ;
  justify-content: space-around;
}

.conetent {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
